* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: Arial, sans-serif;

  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  bdi{
    margin-inline: 10px;
  }
  
  .clientapp {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  /* button{
    background-color: #ff724c;
  } */
  
  html {
    scroll-behavior: smooth;
  }
h1{
  font-size: xx-large;

}




 
  @media (max-width: 768px) {
    .clientapp {
      position: absolute;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px; 
        overflow-x: hidden;
       
    }
}
@media (max-width: 576px) {
  
  .Toastify__toast {
    display: none;
    
  }
  .Toastify__toast-container--top-left {
display: none;  }
}